<div class="login-block mx-auto">
  <div class="container1">
    <div class="row ">
      <div class="col login-sec">
        <h2 class="text-center" style="color:#1d4354!important;">Login Now</h2>
        <form class="login-form" id="logform" method="post" action="login">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
            <input type="text" class="form-control" name="email" placeholder="">
          </div>
          
          <div class="form-group">
            <label for="exampleInputPassword1"  class="text-uppercase">Password</label>
            <input type="password" class="form-control" name="password" placeholder="">
          </div>
          <div style="display: none;font-weight:bolder" class="text-danger text-center" id="userErr">Access Denied</div>
        
          <div class="form-check">
            <label  class="form-check-label">
             
              <button type="submit" style="background-color: #37a000;" class="btn btn-login float-right mx-auto">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script>
    $('#logform').validate({
        rules: {
            email: {
                required: true,
                email: true
            }
        },
        submitHandler: function (logform) {
            $.ajax({
                url: logform.action,
                type: logform.method,
                data: $(logform).serialize(),
                success: (response) => {
                  console.log(response)
                    if(response.status==2){
                      $('#userErr').show()
                    }
                    else if(response.status==3){
                         $('#userErr').show()
                    }
                    else if(response.status==1){
                      window.location.href = "home"
                    }
                }
            });
        }
    });
</script>