{{!-- <div class="container">
       <div class="login-box d-flex justify-content-center">
           <div class="login-text"> 
               Login in and Start Earn
           </div>
           <input class="text-username" type="text" name="" id="" placeholder="username">
       </div>
   </div> --}}