<div class="login-block mx-auto">
  <div class="container1">
    <div class="row">
      <div class="col login-sec">
        <h2 class="text-center">
          Register Now
        </h2>
        <form id="regform" class="regform" method="POST" action="signup">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">
              Name
            </label>
            <input type="text" class="form-control" name="name" placeholder="" />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">
              Email
            </label>
            <input type="email" class="form-control" name="email" placeholder="" />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">
              Password
            </label>
            <input type="password" class="form-control" name="password" placeholder="" />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">
              Refferal Code
            </label>
            <input type="text" class="form-control" placeholder="" name="referral_code" readonly value="{{name}}" 
              required />
          </div>
            <div style="display: none;font-weight:bolder" class="text-danger text-center" id="userErr">Invalid Referral Code</div>
            <div style="display: none;font-weight:bolder" class="text-danger text-center" id="userErrR">Reffered Users Limit exceeded</div>
          <div class="form-check mx-auto">
            <button type="submit" class="btn btn-login float-right mx-auto" style="margin-left: 150px;margin-top:10px;">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script>
  $('#regform').validate({
    rules: {
      email: {
        required: true,
        email: true
      },
      name: {
        required: true
      },
      password: {
        required: true,
        minlength: 6
      },
      referral_code:{
        required:true
      }
    },
    submitHandler: function (regform) {
      console.log('HEllo');
      $.ajax({
        url: regform.action,
        type: regform.method,
        data: $(regform).serialize(),
        success: (response) => {
          console.log(response)
          if (response.errCode == 1) {
            $('#userErr').show()
          }
          else if (response.errCode == 2) {
            $('#userErrR').show()
          }
          else {
            window.location.href = "home"
          }
        }
      });
    }
  });
</script>