<div class="login-block mx-auto">
    <div class="container1">
	<div class="row ">
		<div class="col login-sec">
		    <h2 class="text-center">Register Now</h2>
		    <form class="login-form">
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase">Email</label>
    <input type="text" class="form-control" placeholder="">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Password</label>
    <input type="password" class="form-control" placeholder="">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Refferal Code</label>
    <input type="text" class="form-control" placeholder="" value="{{name}}" readonly>
  </div>
  
  
    <div class="form-check mx-auto">
    <button type="submit" class="btn btn-login float-right mx-auto">Register</button>
  </div>
  
</form>
  </div>
    </div>
    </div>
</div>